body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol,
ul {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: bold;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
}

@media (max-width: 900px) {
  #content .posts li span.category {
    display: none;
  }

  #content .posts li a {
    display: block;
  }
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  font-family: Arial, "Hiragino Sans GB", 冬青黑, "Microsoft YaHei", 微软雅黑, SimSun, 宋体, Helvetica, Tahoma, "Arial sans-serif";
  -webkit-text-size-adjust: none; /* 禁止 Safari 自动调整字体，会影响到代码段的表现 */
  /* background: #f4f4f4; */
  color: rgba(0, 0, 0, 0.8);
}
h2,
h3,
h4,
h5,
h6 {
  color: #434C5E;
}
p,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
}
a {
  color: #000000;
  text-decoration: none;
}

.cnt a{
    color: #191919;
    padding: 2px 0 1px 0;
    text-decoration: none;
    background-image: linear-gradient( transparent 0%, transparent calc(50% - 5px), #ffdb00 calc(50% - 5px), #ffdb00 100% );
    transition: background-position 120ms ease-in-out, padding 120ms ease-in-out;
    background-size: 100% 200%;
    background-position: 0 0;
    word-break: break-word;
}
.cnt p+font {
  color: lightgray;
}
p a {
  text-decoration: underline;
}

a img {
  vertical-align: middle;
}
span#eighty {
  color: #007236;
}
span#beans {
  color: #72bf44;
}
a:hover,
a:hover span#eighty,
a:hover span#beans {
  color: #444444;
}
h1 a:hover {
  color: #ddd;
}

#nav {
  overflow: hidden;
  background: white;
  height: 46px;
}


#logo {
  padding: 8px;
  float: left;
}

#logo a {
  display: block;
  float: left;
}

#logo img {
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 46px;
  text-decoration: none;
}

#nav ul {
  float: left;
  line-height: 46px;
}

#nav li {
  float: left;
  padding: 0 10px;
}

#nav li a {
color: #434C5E;
}

#nav li a span {
  color: gray;
  font-weight: normal;
  /* vertical-align: sub; */
  font-size: 9px;
} 

div.wrapper {
  overflow: hidden;
  font-size: 14px;
  max-width: 780px;
  margin: 0 auto;
}

.wrapper.main {
  background: white;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04); */
  /* border: 1px solid rgba(0, 0, 0, 0.09); */
}

#intro {
  padding: 15px;
  margin: 15px 15px 0;
}


#content .posts li a {
  font-weight: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
}

#content .posts li span.category {
  background: #f4f4f4;
  font-size: 12px;
  padding: 4px 6px;
  border-radius: 4px;
  color: #666;
  vertical-align: middle;
}

#content .posts li a:hover {
  text-decoration: underline;
}

div#content img,
div#content object {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 1px 0 #ffffff;
  max-width: 100%;
  max-height: 100%;
  /*border:5px solid #222222;*/
  /*width:680px;*/
}
div#content li {
  list-style: disc;
  margin-left: 10px;
  line-height: 170%;
}

div#content ol li {
  list-style: decimal;
}

div#content .cnt li {
  margin: 5px 5px 5px 30px;
}
div#header {
  font-size: 13px;
  margin: 0 0 45px;
}
div#header ul {
  float: right;
  margin: 0;
}
div#header li {
  float: left;
  margin: 0 0 0 20px;
}
div#footer {
  margin: 25px 0 25px;
}
div#footer #feed {
  float: right;
}
div#content ul.posts li {
  margin: 0px -15px 0px;
  font-size: 16px;
  list-style: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  padding: 10px 15px;
}

p.nav {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  margin: 30px 0 10px;
}

p.nav + ul,
p.nav + ul a,
p.nav + div,
p.nav + div a {
  color: #000;
}

p.nav + ul,
p.nav + div {
  margin: 0;
}

p code {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 3px 6px;
  margin: 0 3px; 
}

ul.posts li a {
  color: #434C5E;
}

ul.index li {
  list-style: circle inside none;
  padding: 0 0 10px 5px;
}

ul.posts li .date {
  float: left;
  display: block;
  color: #999;
  font-size: 9px;
  margin: 0 25px 0 0;
  vertical-align: bottom;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 100%;
}

#disqus_thread h3 {
  margin: 20px 0;
  font-size: 22px;
}

h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.6em;
  margin-top: 25px;
}

h3 {
  font-size: 1.3em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 20px 0;
}

li ul {
  margin: 10px 0 10px 20px;
}

div#content .cnt li ul li {
  list-style: circle;
  margin-left: 15px;
}

#content .sub_date {
  color: #999;
  font-size: 14px;
  margin-top: 20px;
}
#content .cnt{
  margin-top:50px;
}

.cnt h1,
.cnt h2,
.cnt h3,
.cnt h4,
.cnt h5,
.cnt h6 {
  margin: 60px 0 40px 0px;
  color: #444444;
}

#content .cnt h3 {
  /* background: #eee; */
  padding: 15px;
  margin: 20px -15px;
  border: 0;
}

#content .cnt h4 {
  font-size: 1.2em;
}

#content {
  font-size: 16px;
  padding: 0px 15px;
}

ul.columns {
  -moz-column-gap: 20px;
  -moz-column-width: 215px;
}
.small,
p.date,
p#footnote,
p#footnote a,
del,
del a {
  color: #888888;
}
.small,
p#footnote {
  font-size: 13px;
}
hr {
  clear: both;
  border: 0;
  border-top: 1px solid #eee;
}
code,
pre {
  font-family: 'Source Code Pro', Consolas, Monaco, Menlo, Consolas, monospace;
  font-size: 14px;
  line-height: 150%;
}
pre {
  -moz-border-radius: 5px 5px 5px 5px; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 -1px 0 #444444;
  /* background-color: #152b38; */
  /* color: #faf6e4; */
  font-size: 14px;
  padding: 5px;
  white-space: pre-wrap;
  word-wrap: break-word; 
}

div.notice {
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 -1px 0 #fffddd;
  background-color: #fffbbb;
  margin: 0 0 5px -40px;
  padding: 20px;
  text-shadow: 0 1px 0 #dddaaa;
  width: 740px;
}
.highlight {
  margin: 10px 0 20px 0;
}
cite {
  font-style: italic;
  color: #999999;
}
em {
  font-style: italic;
}
blockquote {
  margin: 0 0 .85em;
  padding: 0 15px;
  color: gray;
  border-left: 4px solid #bbbbbb;
}

#content .cnt blockquote p {
  margin: 0;
  padding: 10px 0;
}

div#disqus_thread {
  margin: 50px 0 0;
}
div.dsq-options,
div.dsq-sharing-options,
div.dsq-dc-logo,
div#dsq-global-toolbar,
div#dsq-pagination {
  display: none !important;
}
p.article_date {
  float: left;
  margin: 0;
}
span#article_buttons {
  float: right;
  margin: 20px 0;
  text-align: right;
}
span#article_buttons a {
  display: block;
}
span.balloon {
  -moz-border-radius: 5px 5px 5px 5px;
  -moz-webkit-radius: 5px 5px 5px 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 -1px 0 #444444;
  background-color: #222222;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  line-height: 16px;
  margin: 0 5px;
  padding: 2px 5px;
  text-shadow: 0 1px 0 #000000;
}

#subnav {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 46px;
  overflow: hidden;
}

#subnav a {
  display: block;
  float: left;
  line-height: 46px;
  font-weight: normal;
  padding: 0 20px;
}

#content.index {
  overflow: hidden;
  padding: 10px 15px 0 15px;
  max-width: 650px;
}

#main {
  margin: 15px 0;
}

#main .posts {
  margin-top: -5px;
}

#main h1 {
  color: #444444;
  font-size: 24px;
  font-weight: bold;
  margin: 8px 0 18px;
  padding: 10px;
  -moz-border-radius: 5px;
  -webki-border-radius: 5px;
  border-radius: 5px;
  background: #ddd;
}

#tags {
  float: right;
  margin: 15px 0;
  color: #999;
  font-size: 13px;
  font-weight: bold;
}

#content .cnt p {
  margin: 20px 0;
  line-height: 1.8;
}

#feed .badget {
  line-height: 100%;
  border: 1px solid #999;
  background: #ddd;
  font-size: 11px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-left: 8px;
  float: left;
}

#feed .service {
  margin-right: 2px;
  display: inline-block;
  border-right: 1px solid #999;
  padding: 4px;
}

#feed .info {
  padding: 0 4px 0 0;
}

div#disqus_thread li {
  list-style: none;
}

div#disqus_thread li ul li {
  list-style: none;
}

#content p.via {
  text-align: right;
  color: #999;
  margin-top: -20px;
}

#content ul#doing li .tag {
  background: #039be5;
  padding: 3px 6px;
  display: inline-block;
  margin-right: 3px;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.8);
}

#content ul#doing {
  list-style: none;
  padding-top: 30px;
}

#content ul#doing li {
  padding: 0 0 30px;
  list-style: none;
  position: relative;
  margin: 0;
}

#content ul#doing .tail {
  position: absolute;
  left: 5px;
  top: 0;
  height: 100%;
  border-left: 2px solid #e9e9e9;
}

#content ul#doing .head {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-radius: 100px;
  border: 2px solid transparent;
  border-color: #2db7f5;
  color: #2db7f5;
}

#content ul#doing .content {
  font-size: 14px;
  padding-left: 32px;
  position: relative;
}

#content ul#doing h3 {
  font-size: 22px;
  background: none;
  margin: 0;
  padding: 0;
}

#content ul#doing ul.item {
  margin: 13px 0;
}

#content ul#doing ul.item li {
  margin: 0 0 8px 0px;
  padding-left: 4px;
  /*list-style: circle;*/
  padding: 0;
}

#content .tags-items-list a {
  font-weight: normal;
  font-size: 16px;
  line-height: 200%;
  color:#434c5e;
  margin: 0 5px 0 5px;
  white-space: nowrap;
}
#content .tags-items-list a span {
  color: gray;
  font-weight: normal;
  vertical-align: sub;
  font-size: 12px;
}

#content .tags-items-section a {
  font-weight: bold;
  color: #434c5e
}

#content .category-items-list a {
  font-weight: bold;
  line-height: 200%;
  color:#434c5e;
  margin: 0 5px 0 5px;
  white-space: nowrap;
}
#content .category-items-list a span {
  color: gray;
  font-weight: normal;
  vertical-align: sub;
  font-size: 12px;
}

#content .category-items-section a {
  font-weight: bold;
  color: #434c5e;
}

#markdown:before {
  content: "目录";
  font-weight: bold;
}
ul#markdown-toc {
  list-style: none;
  position: fixed;
  padding: 0px;
  left: 10px;
  /* bottom: 200px; */
  border-radius: 0.3em;
  box-shadow: rgba(0,0,0,0.15) 0 1px 4px;
  box-sizing: border-box;
  border: #fff 0.5em solid;
  background-color: white;
}	

/* 首页按年分隔 */
.year-category {
  font-size: 1.5rem;
  margin: 25px 0 25px 0;
}

pre.lineno {
  border-right: 1px solid #eeeeee;
  border-radius: 0px;
  text-align: right;
  color: rgba(27,31,35,.3);
}
