<div id="footer">
	<p style="color:#ccc;font-size:12px;text-align: center">穿越这无限世界</p>
	<p style="clear:both"></p>
</div>
<link rel="alternate" type="application/atom+xml" title="Babyking's Blog" href="/feed.xml">
<!-- <script data-ad-client="ca-pub-3047364963784226" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->

<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>