<div id="nav">
	<div class="wrapper">
		<div id="logo"><a href="/"><img src="/image/logo.png" /></a></h1>
		</div>
		<ul>
			<li id="1"><a href="/">首页</a></li>
			<li id="2"><a href="/tech/">技术</a></li>
			<li id="3"><a href="/music/">音乐</a></li>
			<li id="4"><a href="/sketch/">随笔</a></li>
			<li id="5"><a href="/find/">发现</a></li>
			<li id="6"><a href="/about/">关于</a></li>
		</ul>
	</div>
</div>

<script>
	var category = location.pathname;
	if (category == '/') {
		document.getElementById('1').style.textDecoration = "underline";
	} else if (category == '/tech/') {
		document.getElementById('2').style.textDecoration = "underline";
	} else if (category == '/music/') {
		document.getElementById('3').style.textDecoration = "underline";
	} else if (category == '/sketch/') {
		document.getElementById('4').style.textDecoration = "underline";
	} else if (category == '/find/') {
		document.getElementById('5').style.textDecoration = "underline";
	} else if (category == '/about/') {
		document.getElementById('6').style.textDecoration = "underline";
	} 

</script>