<div id="nav">
	<div class="wrapper">
		<div id="logo"><a href="/"><img src="/image/logo.png" /></a></h1>
		</div>
		<ul>
			<li id="category-home"><a href="/">首页</a></li>
			<li id="category-tech"><a href="/tech/">技术</a></li>
			<li id="category-music"><a href="/music/">音乐</a></li>
			<li id="category-sketch"><a href="/sketch/">随笔</a></li>
			<li id="category-discovery"><a href="/find/">发现</a></li>
			<!-- <li id="category-about"><a href="/category/about.html">关于</a></li> -->
		</ul>
	</div>
</div>

<script>
	var category = location.pathname;
	if (category == '/') {
		document.getElementById('category-home').style.textDecoration = "underline";
	} else if (category == '/tech/') {
		document.getElementById('category-tech').style.textDecoration = "underline";
	} else if (category == '/music/') {
		document.getElementById('category-music').style.textDecoration = "underline";
	} else if (category == '/find/') {
		document.getElementById('category-discovery').style.textDecoration = "underline";
	} else if (category == '/sketch/') {
		document.getElementById('category-sketch').style.textDecoration = "underline";
	} 

</script>