<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	{% include header.html %}
	<body>
		{% include header_nav.html %}
		<div class="wrapper main">
			<div id="content" class="index">
				<div id="main">

					<div class="tags-items">
						{% assign categories = site.categories | sort %}
						{% for category in categories %}
						  <span class="tags-items-list">
							<a href="#{{ category[0] | slugify }}">
									{{ category[0] | replace:'-', ' ' }} ({{ category | last | size }})
							</a>
						</span>
						{% endfor %}
		  
						<hr/>
						<div class="tags-items-section">
						  {% for category in site.categories %}
						  <h2 id="{{ category[0] | slugify }}">{{ category[0] }}</h2>
						  <br>
						  <ul class="posts">
							{% for post in category[1] %}
							<li>
									  <span class="date" cate="{{ post.categories }}">{{ post.date | date:"%Y-%m-%d" }}</span> 
								<a  href="{{ site.baseurl }}{{ post.url }}">
									{{ post.title }}
								</a>
							</li>
							{% endfor %}
						  </ul>
						  {% endfor %}
						</div>
					</div> 	
				</div>
			</div>
			{% include footer.html %}
		</div>
		<div style="height:2000px;"></div>
	</body>
</html>


